<div class="card-body">
    {{!-- insert route --}}
  <a href="">
    <div class="card-header flex-row justify-space-between">
      <div class="col-8">Post Title: {{Post.title}}</div>
      <div class="col-4">{{user.name}} on {{format_date}}</div>
    </div>  
  </a>
</div>