<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tell Me What You Know</title>
  {{!-- Add style sheets --}}
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="">
</head>

<body>
  <div class="flex-column justify-space-around">
     
      <nav class="navbar">
        <ul>
          <li class="li-inline nav-item"><a href="/">Home</a></li>
          <li class="li-inline nav-iten"><a href="/dashboard">Dashboard</a></li>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <li class="li-inline nav-item"><a href="/logout">Logout</a></li>
        {{else}}
        <li class="li-inline nav-item"><a href="/login">Login</a></li>
        {{/if}}
        </ul>
      </nav>

    <header class="hero">
      <h1 class="title"><a href="/">Tell Me What You Know</a></h1>
    </header>

    <main class="container container-fluid mt-5">
      {{{ body }}}
    </main>

  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>